body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#e6d9ff, #c2a8ff);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 360px;
    background: #f6f0ff;
    padding: 25px;
    border-radius: 30px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    color: #6a3cff;
    margin-bottom: 20px;
}

.input-area {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 12px;
    border-radius: 20px;
    border: 2px solid #c2a8ff;
    outline: none;
}

button {
    padding: 12px 18px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, #6a3cff, #a78bfa);
    color: white;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #e9ddff;
    padding: 12px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

li.done span {
    text-decoration: line-through;
    color: gray;
}

.task-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.delete {
    background: #ff5c8a;
    border: none;
    color: white;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.info {
    margin-top: 15px;
    text-align: center;
    color: #6a3cff;
    font-weight: bold;
}
